body {
  background-color: #3a3f56;
}

#app {
  max-width: 850px;
  margin: 0 auto;
}

.container-fluid {
  background-color: #fff;
  padding-bottom: 15px;
}

nav {
  padding: 20px 0 20px 0;
}

#filter-courses {
  width: 25%;
  float: right;
}
